html, body {
    overflow: hidden; /* Prevents scrolling */
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-containter{
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    height: 100vh;
}

.rounded-rectangle{
    width: 672px; 
    height: 500px; 
    background-color: rgba(226, 198, 255, 0.5); /* Semi-transparent */
    border-radius: 25px; /* Rounded corners */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    font-family: Georgia;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia;
    margin-top: 0px;
}

h2.comment{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia;
    margin-top: 0px;
}

h3.comment{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: courier;
    color: #000000;
}

.writing-on-right{
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia;
    margin-top: 10px;
    padding-right:25%;
}

.box{
    width: 400px; 
    height: 300px; 
    background-color: #FFFFFF;
    border-radius: 20px; 
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.account-register-text{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia;
    margin-top: 0px;
}

.enter-username{
    width: 400px; 
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    resize: none; 
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.dropdown-country{
    width: 400px;
    margin: 0 auto; 
}

.dropdown{
    width:100%;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    resize: none; 
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    font-family: monospace;
    color: #7a7474;
    background-color: #FFFFFF;
}
.btn {
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 380px;
    height: 20px;
}

.btn:hover {
    background-color: #A5ADFF;
}

.x-btn {
    position: absolute;
    background-color: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 23.5px;
    font-family: sans-serif;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
}

.x-btn:hover {
    background-color: #A5ADFF;
}

.choose-three-hashtags{
    width: 800px; 
    height: 450px;
    background-color: rgba(226, 198, 255, 0.5);
    border-radius: 25px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
}

.hashtags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.hashtag {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 2px solid #9BA9FF;
    border-radius: 20px;
    cursor: pointer;
}

.hashtag.selected {
    background-color: #A5ADFF;
    color: white;
    border-color: #A5ADFF;
}

.hashtag:hover{
    background-color: #A5ADFF;
    color: white;
    border-color: #A5ADFF;
}

.user-big-rectangle {
    width: 750px; 
    height: 550px;
    background-color: rgba(226, 198, 255, 0.5);
    border-radius: 25px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    align-items: flex;
}

.user-hashtags{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
    padding: 7%;
}