<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">

    <title>Login</title>
</head>

<body>
    <br><br><br><br>
    <h6 class = "title">Soul Sync</h6>
    <h6 class = "comment">Messages from the toughest times</h6>
    <div class="rounded-smaller-rectangle">
        <a href="/" class="x-btn">&times;</a>
        <h2 class = "comment">Login</h2><br>
        <textarea class = "enter-username" placeholder="Username"></textarea><br><br>
        <textarea class = "enter-username" placeholder="Password"></textarea><br><br>
        <a href="login" class="btn">LOGIN</a><br>
        <p class="account-register-text"> Don't have an account? <a href="signup.html">Register</a></p>
    </div>

</body>
</html>