<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">

    <title>User Profile</title>
</head>

<body>
    <div class="user-big-rectangle">
        <h4 class = "writing-on-right">My Posts</h4>
        <div class="user-hashtags">
            <div class = "box">Example Post 1</div>
            <div class="hashtag">Username</div>
            <div class="hashtag">Country</div>
            <div class="hashtag">Manage Password</div>
            <div class="hashtag">Change Username</div>
            <div class="hashtag">Change Location</div>
        </div>
        <br><br>
    </div>

    <script src="static/scripts.js"></script>
</body>

</html>