<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">

    <title>Welcome</title>
</head>

<body>
    <div class="center-containter">
        <div class="rounded-rectangle">
            <h2 class = "title">Soul Sync</h2>
            <h4 class = "comment">Messages from the toughest times</h4>
            <a href="login" class="btn">LOGIN</a><br><br><br>
            <a href="signup" class="btn">SIGN UP</a><br><br><br>
            <a href="guest" class="btn">GUEST</a>
        </div>
    </div>

</body>
</html>